// Place all the styles related to the admins/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//admins_members_show
.mypage-title{
  margin-right: 100px;
  margin-bottom: 10px;
}
.show-title{
  margin-left: 50px;
  margin-bottom: 10px;
}

.margin {
  margin-top: 10px;
}

.edit-title{
  margin-left: 50px;
  margin-bottom: 10px;
}

table tr th {
	height: 50px;
	width: 150px;
}

#page {
	text-align: center;
}

.status {
padding-bottom: 8px; 
border: 1px 
solid #333333; 
border-radius: 3px; 
background-color: lightskyblue; 
width: 60px; 
height: 15px; 
font-size: 10px; 
text-align: center;
vertical-align: middle;
}
