// Place all the styles related to the admins/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//admins_members_show
.mypage-title{
  margin-right: 100px;
  margin-bottom: 10px;
}
.show-title{
  margin-left: 50px;
  margin-bottom: 10px;
}

.edit-title{
  margin-left: 50px;
  margin-bottom: 10px;
}