<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="sign_in">
      <mark>管理者ログイン</mark>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table border="0">
      <tr>
          <th>メールアドレス</th>
          <td style="width:500px">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </td>
      </tr>
      <tr>
          <th>パスワード</th>
          <td style="width:500px">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </td>
      </tr>
    </table>

      <div class="actions center margin-30">
        <%= f.submit "ログイン", class: "btn btn-primary", style:"width:150px" %>
      </div>
    <% end %>

  </div>
</div>
