@import "bootstrap-sprockets";
@import "bootstrap";

// 設定用
.border-top{
  border-top: solid 3px #eee;
}
.border-bottom{
  border-bottom: solid 3px #eee;
}
.center{
  text-align: center;
}
.margin-30{
  margin:30px 0;
}

header{
  height:100px;
  background-color:white;
}
#body{
  margin-top:130px;
  min-height: 650px;
}
.header-name{
  padding:40px 10px;
}
.logo-box{
  display:inline-block;
}
.header-link{
  padding:23px 15px;
}
.admins-link{
  padding:10px 15px;
}
.search{
  width:300px;
  height:25px;
  position: absolute;
  top:67px;
  right:150px;
  .search-btn{
    height:25px;
    line-height:1;
  }
  .search-box{
    height:25px;
  }
}
.page-title{
  text-align: left;
  background-color: blanchedalmond;
  display: inline-block;
}




/* footer */
footer{
  height:100px;
  text-align: center;
  p{
    line-height:100px;
  }
}