@import "bootstrap-sprockets";
@import "bootstrap";

// 設定用
.border-top{
  border-top: solid 3px #eee;
}
.border-bottom{
  border-bottom: solid 3px #eee;
}
.center{
  text-align: center;
}
.margin-30{
  margin:30px 0 0 0;
}
.search-form{
  width:300px;
  margin-bottom:10px;
  margin-left:auto;
}

header, footer{
  background-image: url("background.jpg");
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
}

#body{
  min-height: 450px;
}
.header-name{
  padding:40px 10px;
}
.logo-box{
  display:inline-block;
}
.header-link{
  padding:30px 15px;
}
.admins-link{
  padding:10px 15px;
}

.page-title{
  text-align: left;
  background-color: rgb(247, 246, 208);
  padding: 5px 10px;
  display: inline-block;
  font-size:20px;
}
.hidden{
  display:none;
}
.field_with_errors {
  display: contents;
  @extend .has-error;
  @extend .form-group;
}

.btn-s{
  padding: 7px 15px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 6px;
}




/* footer */
footer{
  width:100%;
  margin-top:50px;
  height:50px;
  text-align: center;
  border-top: solid 3px #eee;
  p{
    line-height:50px;
  }
}