// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-search{
  border-bottom: 1px solid ;
}

.c-name{
  margin: 10px;
}

.category{
  width: auto;
  text-align: center;
  border: 1px solid ;
}

.mv-image{
  width: 100%;
  padding: 70px;
  background-image: url(mv.jpg);
  background-size: cover;
  background-position: center;
}

.description{
  background-color: rgba( 0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}

.p-index {
  display:flex;
  flex-wrap: wrap;
  .product{
    margin:0 10px 10px 0;
    width:200px;
    .p-image{
      img{
      width:100%;
      height:150px;
      border: none;
      padding: 10px;
      margin:0 0 10px 0;
      }
    }
    .p-info{
    padding-left:10px;
    }
  }
}

.see-more{
  float: right;
  margin-bottom: 50px;
}

.order-count{
  margin-top: 50px;
  a{
    color:rgb(30, 90, 201);
    text-decoration: cyan;
  }
}