// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//order_index
.table-bordered thead tr th {
	height: 40px;
}
p.w-break{
  word-wrap: break-all;
}

//new
.order-title{
  margin-left: 50px;
}

.o-sub-title{
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}

<<<<<<< HEAD
.link {
    margin: 10px;
	text-align: center;
}

//order-show
.table-bordered {
    border-color: black;
	float: left;
=======
.order-radio{
  margin-left: 40px;
}

.order-sub-radio{
  margin-left: 20px;
}

.order-form{
  padding:5px 0 5px 20px;
>>>>>>> origin/develop
}

//confirmation
.con-sub{
  display:inline;
  font-size: 16px;
  margin-left:20px;
}

.con-address{
  font-size: 16px;
}