<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>商品一覧</h1>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th style="width:10%">商品ID</th>
          <th style="width:30%">商品名</th>
          <th style="width:15%">税抜価格</th>
          <th style="width:30%">ジャンル</th>
          <th style="width:15%">ステータス</th>
        </tr>
      </thead>

      <tbody>
      <%# each予定 %>
        <tr>
          <td>1</td>
          <td>商品名</td>
          <td>¥1,000</td>
          <td>ジャンル</td>
          <td>ステータス</td>
        </tr>
        <tr>
          <td>1</td>
          <td>商品名</td>
          <td>¥1,000</td>
          <td>ジャンル</td>
          <td>ステータス</td>
        </tr>
        <tr>
          <td>1</td>
          <td>商品名</td>
          <td>¥1,000</td>
          <td>ジャンル</td>
          <td>ステータス</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
