<div class="row">
  <div class="col-xs-2">
    <div class="category border">
      <div class="c-search">
        <h4>ジャンル検索</h4>
      </div>
      <% @categories.each do |category| %>
      <div class="c-name">
        <p><%= link_to category.name, products_path(category.id) %></p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-10">
    <h2 class="product-title" style="margin-top:0;">商品一覧(全x件)</h2><br>
    <!--eachを使用予定-->
    <% @products.each do |product| %>
    <div class="product">
      <div class="p-image">
        <img src="menus/no_image.jpg" alt="商品名">
        <!-- attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' -->
      </div>
      <%= link_to product.name, "#" %><br>
      <%= "¥#{product.price}" %>
    </div>
    <% end %>
    <!--eachを使用予定-->
    <div class="paginate">
    </div>
  </div>
</div>